<footer class="footer">
  <div class="center img">
    <%= image_tag("footer.png", alt: "Footer Image") %>
  </div>
  <small>
    ANIMAL PICS by <a href="https://www.linkedin.com/in/yilan-dong-973152160/">Yilan Dong</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Me", 'https://www.linkedin.com/in/yilan-dong-973152160/' %></li>
      <li><%= link_to "Contact", 'https://www.facebook.com/yilan.dong.7' %></li>
      <li><%= link_to "Acknowledgements", 'https://docs.google.com/document/d/1sb44Ymynyv0tHr3O8YkiALiwDNCYYhCx8ITkbsG5d60/edit?usp=sharing' %></li> 
    </ul>
  </nav>
</footer>
