<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="pic_info">
      <h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
      </h1>
      <h3>
	You have been paired with this <%= @pic.animalType %> !
      </h3>
    </section>
  </aside>
  <%= image_tag(@pic.picInfo) %>
</div>
