<!DOCTYPE html>
<html>
  <h1>Welcome to AnimalPics!</h1>
  <h2>Here you can view random pictures of cute cats and dogs.</h2>
  <div class="center">
    <%= link_to "Sign up and enter your preferences now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</html>
