<!DOCTYPE html>
<html>
  <h1>Welcome to Yilan's Homepage for CSC324</h1>
  <h2>This is the first steps for Yilan's individual project.</h2>
  <div class="center">
    <h3>Dice Result</h3>
    <h1><%= @result %></h1>
    <p><%= link_to "Roll again", root_path %></p>
  </div>
</html>
