<% provide(:title, "Cat Pics Page") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <h1>Random cat pictures here!</h1>
  <div class="row">
    <div class="column left center img">
      <%= image_tag(@path, alt: "Cute Cat Image") %>
    </div>
    <div class="column right">
      <%= link_to "New Cat Pic", second_path, class: "btn btn-lg btn-primary"%>
      <p></p>
      <%= link_to "New Dog Pic", third_path, class: "btn btn-lg btn-primary"%>
    </div>
  </div>
</html>
