<% provide(:title, "Third Page") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>Title TBD</h1>
    <div class="center">
      <p>Welcome to the third (and currently final) page of my website!</p>
    </div>
  </body>
</html>
