<% provide(:title, "Second Page") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>Second Page (name may be changed)</h1>
    <p>Welcome to page 2 of my static website!!</p>
  </body>
</html>
